.tableHeaderBlock {
    color:rgba(255, 255, 255, 1);
    display:flex;
    width:100%;
    height: content-box;
    margin-bottom: 20px;
    background: rgba(33, 150, 243, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.nameBlock{
    width: 1356px;
    height:100%;
    border-left: 1px solid rgba(178, 178, 178, 1);
    border-right: 1px solid rgba(178, 178, 178, 1);
    padding: 26px 23px 26px 23px;

}
.numberBlock {
    height:100%;
    padding: 26px 24px 25px 30px;

}

.totalConfirmed {
    position: relative;
    width: 534px;
    padding: 26px 0 0 33px
}

.totalConfirmed .up{
    position: absolute;
    top:15px;
    left: 224px;
    width: 10px;
    height: 10px;
    border-top: 6px solid #dbdbdb;
    border-right: 6px solid #dbdbdb;
    border-radius: 4px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.up:hover{
    transform: scale(1.2) rotate(-45deg);
}

.up:active {
    transform: scale(1) rotate(-45deg);
}

.totalConfirmed .down {
    position: absolute;
    border-radius: 4px;
    top:47px;
    left:224px;
    width: 10px;
    height: 10px;
    border-top: 6px solid #dbdbdb;
    border-right: 6px solid #dbdbdb;
    transform: rotate(135deg);
    cursor: pointer;
}
.down:hover{
    transform: scale(1.2) rotate(135deg);
}
.down:active{
    transform: scale(1) rotate(135deg);
}